/test.txt
/person.out
/.idea/.gitignore
/.idea/Java.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/out/
/Homework/10/10.iml
/Experiment/12/12.iml
/Experiment/13/SimpleDBdemo/.gitignore
/Experiment/14/CattleLouse/.gitignore
/Experiment/14/NumManage/.gitignore
/Experiment/14/WuKong/.gitignore
/Homework/12/ThreadSum/.gitignore
/Experiment/15/DatagramSocketDemo/.gitignore
/Homework/12/ThreadPrintABC/.gitignore
/Experiment/15/ThreadTCP/.gitignore
/Experiment/15/SocketDemo/.gitignore
/Practice/ThePeople/.gitignore
/Midterm exam/Programming1/.gitignore
/Midterm exam/Programming/1/.gitignore
/Midterm exam/Programming/2/.gitignore
/.idea/.name
/Midterm exam/Programming/3/.gitignore
/Midterm exam/Fragment programming/f1/.gitignore
/Midterm exam/Programming/Programming1/.gitignore
/Midterm exam/Programming/Programming2/.gitignore
/Midterm exam/Programming/Programming3/.gitignore
/Midterm exam/Fragment programming/Fragment programming1/.gitignore
/Midterm exam/Fragment programming/Fragment programming2/.gitignore
/Midterm exam/Interface programming/Interface programming1/.gitignore
/Midterm exam/Blanks Programming/Blank Programming1/.gitignore
/Midterm exam/Blanks Programming/Blanks Programming1/.gitignore
