/test.txt
/person.out
/.idea/.gitignore
/.idea/Java.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/out/
/Homework/10/10.iml
/Experiment/12/12.iml
/Experiment/13/SimpleDBdemo/.gitignore
/Experiment/14/CattleLouse/.gitignore
/Experiment/14/NumManage/.gitignore
/Experiment/14/WuKong/.gitignore
